*.iml
*.patch
.gradle
/local.properties
.DS_Store
/captures
.idea
.trash
build
error
.externalNativeBuild/
cyborg-core/
cyborg-bluetooth/
cyborg-firebase/
nu-art-core/
reflection/
module-manager/
belog/
generic-processor/
http-module/
traces.txt
test.sh

